@keyframes emerge {
    0% {
        transform: translate(-50%, 100%) scale(0); /* Start from bottom left */
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* Move to center */
        opacity: 1;
    }
}

@keyframes leave {
    0% {
        transform: translate(-50%, -50%) scale(1); /* Start from center */
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -100%) scale(0); /* Exit through the top */
        opacity: 0;
    }
}

.radial-emerge {
    animation: emerge 1s ease-out forwards;
}

.radial-leave {
    animation: leave 1s ease-in forwards;
}

.hidden {
    display: none;
}
