.main-content {
  text-align: center;
  padding: 2rem;
}

.new-game-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: #535bf2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
}

.new-game-button:hover {
  background-color: #454bb5;
}

/* Flex container for QR code and participants list */
.qr-code-and-participants {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

/* QR Code styles */
.qr-code-container {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qr-code-container img {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

/* Active Participants list container */
.participants-container {
  width: 300px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
